/* =================Responsive For Header================== */

@media (max-width: 768px) {
    
    .bannerTop {
        display: none;
    }

    .changeLogo {
        display: none !important;
    }

    .settings {
        display: none !important;
    }


    /* other */
    #captchatBaoGia {
        display: none !important;
    }

    .sliderEvaluate .buttons {
        display: none;
    }
}

/* mobile */
@media (min-width: 576px) {

}



