/* =================Responsive================== */

@media (max-width: 768px) {
/* =================Header================== */
    .dinhvi, .settings, .changeLogo, .bannerTop {
        display: none !important;
    }

    .settings-header .btnOpenSettings,
    .settingsMb {
        display: block;
    }

/* =================Main================== */
    /* topbannerWordpress */
    .topbannerWordpress .half-right {
        display: none !important;
    }

    .topbannerWordpress .half-left {
        width: 100%;
    }

    .topbannerWordpress .buttons {
        flex-direction: column;
    }

    .topbannerWordpress .btnLinux, 
    .topbannerWordpress .btnWindows {
        width: 100%;
        justify-content: center;
    }

    .childOfBtnWindows .images {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .childOfBtnWindows .title {
        text-align: center;
    }

    /* iconIntro */
    .iconIntro .item {
        margin-bottom: 40px;
    }

    /* formAdvise */
    .formAdvise .boxFormAdvise {
        flex-direction: column;
        gap: 20px;
    }

    .formAdvise .boxFormAdvise .half-left,
    .formAdvise .boxFormAdvise .half-right {
        width: 100%;
    }

    .formAdvise .half-right .formArea {
        margin: 0 auto;
    }

    /* yourChoose */
    .yourChoose .buttons {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* stickyMenu */
    .stickyMenu {
        display: none;
    }

    /* accompaniedServiceBox */
    .accompaniedServiceBox {
        flex-direction: column;
    }

    .accompaniedServiceBox .half-left,
    .accompaniedServiceBox .half-right {
        width: 100%;
    }

    .accompaniedServiceBox .half-left .desc {
        width: auto;
    }

    /* featuresComparison */
    #featuresComparison th img {
        display: none;
    }

    #featuresComparison td:first-child {
        padding-left: 10px;
    }

    /* backHotline */
    .backHotline .mbRow {
        display: flex;
        justify-content: center;
    }

    /* sliderEvaluate */
    .sliderEvaluate .slide {
        height: 450px;
    }

    .sliderEvaluate .buttons {
        justify-content: center;
        gap: 30px;
        top: 100%;
        width: 200px;
    }

    .sliderEvaluate .titleBox{
        flex-direction: column;
    }

    .sliderEvaluate .titleBox .title {
        text-align: center;
    }

    .sliderEvaluate .slide .item:nth-child(1),
    .sliderEvaluate .slide .item:nth-child(2),
    .sliderEvaluate .slide .item:nth-child(4),
    .sliderEvaluate .slide .item:nth-child(5) {
        width: 210px;
        height: 230px;
        transform: translate(0, -50%);
        opacity: 0.7;
    }

    .sliderEvaluate .slide .item:nth-child(1) {
        left: -210px;
    }
    
    .sliderEvaluate .slide .item:nth-child(2) {
        left: 0;
    }
    .sliderEvaluate .slide .item:nth-child(4) {
        left: calc(100% - 210px);
    }
    .sliderEvaluate .slide .item:nth-child(5) {
        left: 100%;
    }

    /* other */
    #captchatBaoGia {
        display: none !important;
    }

    /* =================Footer================== */

    /* infomationOfMatBao */
    .infomationOfMatBao li,
    .infomationOfMatBao h3 {
        text-align: center;
    }

    /* certificates */
    .certificates .item:not(:last-child) {
        margin-bottom: 50px;
    }

    footer .certificates .myImgRow {
        margin-top: 10px;
    }

    footer .address .item:not(:first-child) {
        border: none;
    }
}

/* mobile */
@media (max-width: 576px) {

    .childOfBtnWindows .thumb {
        height:200px;
    }

    /* cloudSever */
    .cloud-sever .text-intro {
        flex-wrap: wrap;
        gap: 10px;
    }

    /* commitmentToIndemnify */
    .commitmentToIndemnifyBox{
        flex-direction: column;
    }

    .commitmentToIndemnifyBox .half-right .thumb {
        height: 200px;
    }

    .commitmentToIndemnifyBox .half-left,
    .commitmentToIndemnifyBox .half-right {
        width: 100%;
    }

    /* backHotline */
    .backHotline {
        
    }

    /* sliderEvaluate */
    .sliderEvaluate .slide .item {
        width: 290px;
        transition: none;
    }

    .sliderEvaluate .slide .item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sliderEvaluate .slide .item .cmt {
        margin-bottom: 30px;
    }
    /* hotlineMatbao */
    .hotlineBox {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .hotlineBox .itemInfo u {
        display: none;
    }


    /* other */
    .backHotline .detailsBox .myBtn,
    .backHotline .detailsBox::before,
    .backHotline .detailsBox::after {
        display: none;
    }

    .bestSeller::before {
        display: none;
    }

}



